@tailwind base;
@tailwind components;
@tailwind utilities;



/* deskto version */
/* #hero{
    background-image: url('../src/assets/desktop/Animation\ -\ 1718353947790.json');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    
} */

/* mobile version */

/* @media (max-width: 574px){
    #hero{
    background-image: url('../src/assets/desktop/image-hero.jpg');
    background-position: center;
    background-size: cover;
}
} */